/* Everforest Soft — by sainnhe (low contrast) */
.theme-everforest-soft {
  --background: #333C43;
  --foreground: #f3e5ca;
  --card: #3A464C;
  --card-foreground: #f3e5ca;
  --popover: #434F55;
  --popover-foreground: #f3e5ca;
  --primary: #b6d48d;
  --primary-foreground: #293136;
  --secondary: #4D5960;
  --secondary-foreground: #f3e5ca;
  --muted: #4D5960;
  --muted-foreground: #c2d0c6;
  --accent: #9de2af;
  --accent-foreground: #293136;
  --destructive: #ffbec0;
  --destructive-foreground: #293136;
  --border: #849199;
  --input: #849199;
  --ring: #b6d48d;
  --success: #9de2af;
  --success-foreground: #293136;
  --warning: #eed08e;
  --warning-foreground: #293136;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #293136;
  --focus-highlight: #7FBBB3;
}

.theme-everforest-soft.light {
  --background: #F3EAD3;
  --foreground: #38444a;
  --card: #EAE4CA;
  --card-foreground: #38444a;
  --popover: #E5DFC5;
  --popover-foreground: #38444a;
  --primary: #2d3d00;
  --primary-foreground: #F3EAD3;
  --secondary: #DDD8BE;
  --secondary-foreground: #38444a;
  --muted: #DDD8BE;
  --muted-foreground: #525e51;
  --accent: #00603f;
  --accent-foreground: #F3EAD3;
  --destructive: #9f0612;
  --destructive-foreground: #F3EAD3;
  --border: #858169;
  --input: #858169;
  --ring: #2d3d00;
  --success: #00603f;
  --success-foreground: #F3EAD3;
  --warning: #744600;
  --warning-foreground: #F3EAD3;


  --code-bg: #E5DFC5;
  --focus-highlight: #226f98;
}
