/* One Light — by Atom */
.theme-one-light {
  --background: #fafafa;
  --foreground: #383a42;
  --card: #eaeaeb;
  --card-foreground: #383a42;
  --popover: #eaeaeb;
  --popover-foreground: #383a42;
  --primary: #1631a8;
  --primary-foreground: #ffffff;
  --secondary: #e5e5e6;
  --secondary-foreground: #383a42;
  --muted: #eaeaeb;
  --muted-foreground: #676971;
  --accent: #1d54ce;
  --accent-foreground: #ffffff;
  --destructive: #ab2418;
  --destructive-foreground: #ffffff;
  --border: #868688;
  --input: #868688;
  --ring: #1631a8;
  --success: #0c6225;
  --success-foreground: #ffffff;
  --warning: #794e00;
  --warning-foreground: #ffffff;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #e5e5e6;
  --focus-highlight: #1631a8;
}

.theme-one-light.light {
  --background: #fafafa;
  --foreground: #383a42;
  --card: #eaeaeb;
  --card-foreground: #383a42;
  --popover: #eaeaeb;
  --popover-foreground: #383a42;
  --primary: #1631a8;
  --primary-foreground: #ffffff;
  --secondary: #e5e5e6;
  --secondary-foreground: #383a42;
  --muted: #eaeaeb;
  --muted-foreground: #676971;
  --accent: #1d54ce;
  --accent-foreground: #ffffff;
  --destructive: #ab2418;
  --destructive-foreground: #ffffff;
  --border: #868688;
  --input: #868688;
  --ring: #1631a8;
  --success: #0c6225;
  --success-foreground: #ffffff;
  --warning: #794e00;
  --warning-foreground: #ffffff;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #e5e5e6;
  --focus-highlight: #1631a8;
}
