/* One Dark Pro — by Binaryify */
.theme-one-dark-pro {
  --background: #282c34;
  --foreground: #b0b7c4;
  --card: #21252b;
  --card-foreground: #b0b7c4;
  --popover: #21252b;
  --popover-foreground: #b0b7c4;
  --primary: #61afef;
  --primary-foreground: #282c34;
  --secondary: #21252b;
  --secondary-foreground: #b0b7c4;
  --muted: #1d1f23;
  --muted-foreground: #8d93a1;
  --accent: #c678dd;
  --accent-foreground: #282c34;
  --destructive: #ec7c85;
  --destructive-foreground: #282c34;
  --border: #707684;
  --input: #707684;
  --ring: #528bff;
  --success: #98c379;
  --success-foreground: #282c34;
  --warning: #e5c07b;
  --warning-foreground: #282c34;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #2c313a;
  --focus-highlight: #528bff;
}

.theme-one-dark-pro.light {
  --background: #282c34;
  --foreground: #b0b7c4;
  --card: #21252b;
  --card-foreground: #b0b7c4;
  --popover: #21252b;
  --popover-foreground: #b0b7c4;
  --primary: #61afef;
  --primary-foreground: #282c34;
  --secondary: #21252b;
  --secondary-foreground: #b0b7c4;
  --muted: #1d1f23;
  --muted-foreground: #8d93a1;
  --accent: #c678dd;
  --accent-foreground: #282c34;
  --destructive: #ec7c85;
  --destructive-foreground: #282c34;
  --border: #707684;
  --input: #707684;
  --ring: #528bff;
  --success: #98c379;
  --success-foreground: #282c34;
  --warning: #e5c07b;
  --warning-foreground: #282c34;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #2c313a;
  --focus-highlight: #528bff;
}
