/* Red — by Thibaut Tiberghien */
.theme-red {
  --background: #390000;
  --foreground: #f8f8f8;
  --card: #490000;
  --card-foreground: #f8f8f8;
  --popover: #490000;
  --popover-foreground: #f8f8f8;
  --primary: #ff7878;
  --primary-foreground: #390000;
  --secondary: #580000;
  --secondary-foreground: #f8f8f8;
  --muted: #580000;
  --muted-foreground: #e7c0c0;
  --accent: #ffd0aa;
  --accent-foreground: #390000;
  --destructive: #ff7070;
  --destructive-foreground: #390000;
  --border: #be3e3e;
  --input: #be3e3e;
  --ring: #ff7878;
  --success: #41a83e;
  --success-foreground: #390000;
  --warning: #fec758;
  --warning-foreground: #390000;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #580000;
  --focus-highlight: #ff7878;
}

.theme-red.light {
  --background: #390000;
  --foreground: #f8f8f8;
  --card: #490000;
  --card-foreground: #f8f8f8;
  --popover: #490000;
  --popover-foreground: #f8f8f8;
  --primary: #ff7878;
  --primary-foreground: #390000;
  --secondary: #580000;
  --secondary-foreground: #f8f8f8;
  --muted: #580000;
  --muted-foreground: #e7c0c0;
  --accent: #ffd0aa;
  --accent-foreground: #390000;
  --destructive: #ff7070;
  --destructive-foreground: #390000;
  --border: #be3e3e;
  --input: #be3e3e;
  --ring: #ff7878;
  --success: #41a83e;
  --success-foreground: #390000;
  --warning: #fec758;
  --warning-foreground: #390000;

  --font-sans: system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
  --radius: 0.625rem;

  --code-bg: #580000;
  --focus-highlight: #ff7878;
}
